/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

// Colors
$blue:      #489fdf;
$blue50:    #a3cfef;
$blue25:    #D1E7F7;

$red:       #f4364c;
$red65:     #F87C8B;

$yellow:    #f0b323;
$yellow65:  #f5ce70;

$ltGrey:    #888b8d;
$ltGrey60:  #b8b9bb;
$ltGrey30:  #dbdcdd;
$ltGrey15:  #edeeee;

$drkGrey:   #333f48;
$black:     #000;
$white:     #fff;

// Fonts
$franklin:    'franklin-gothic-urw', Helvetica, sans-serif;
$heavy:       900;
$demi:        700;
$medium:      500;
$book:        400;
$light:       300;
