// Contact Form Styles
.contact--form-container{
  background: $ltGrey15;
  padding: rem(97px) 0;
}

// contact form
.contact--form{
  padding-right: 8.3333%;
}

// info column
.contact--info{
  padding-left: 8.3333%;
  border-left: 4px solid $ltGrey30;
}

@media screen and (max-width: $small-breakpoint){
  .contact--info{
    border-left: none;
    padding-left: rem(15px);
  }
}
