// Form Styles
/**
 * Forms:
 * Various form elements found on the site.
 *
 *     @example
 *     div.forms
 *      form
 *       div
 *         label Name
 *         input(type="text")
 *       div
 *         label Email
 *         input(type="email")
 *       div
 *         label Message
 *         textarea
 *       div
 *         label
 *          input(type="checkbox")
 *          | Checkbox
 *       div
 *         input(type="submit", value="Submit")
 */

form{
  label{
    display: block;
    font-family: $franklin-comp;
    font-weight: $demi;
    text-transform: uppercase;
  }
  input[type=text], input[type=email], input[type=password],input[type=tel]{
    position: relative;
    height: rem(40px);
    border: 4px solid $ltGrey60;
    font-size: rem(28px);
    font-weight: $book;
    line-height: rem(36px);
    letter-spacing: 0;
    color: $black;
  }
  textarea{
    position: relative;
    border: 4px solid $ltGrey60;
    font-size: rem(28px);
    font-weight: $book;
    line-height: rem(36px);
    letter-spacing: 0;
    color: $black;
  }
  input[type=submit]{
    @extend .button;
    @extend .button--blue;
    outline: none;
    background: none;
  }
}
