// Partners Slider/Section

.part--partners{
  padding: rem(90px) 0 rem(80px);
  @include blue-gradient();
  border-top: 9px solid $white;

  .partners-slider{
    margin-top: rem(30px);
  }

  .slick-track{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
      flex: 0 1 auto;
    }
    a{
      display: block;
      img{
        display: block;
        margin: 0 auto;
      }
    }
  }

  .slick-next, .slick-prev{
    width: 33px;
    height: 62px;
  }

  .slick-prev:before{
    content: url(../img/arrow-left-grey.png);
  }

  .slick-next:before{
    content: url(../img/arrow-right-grey.png);
  }

}

@media screen and (max-width: $small-breakpoint){

  .part--partners{
    .slick-prev:before{
      display: none !important;
    }

    .slick-next:before{
      display: none !important;
    }
  }

}
