// Testimonials Part Styles

.testimonials--container{
  padding: rem(95px) 0 rem(100px);
  border-top: 9px solid $white;

  // testimonial image
  .testimonial-image{
    margin: 0 auto;
    width: rem(235px);
    height: rem(235px);
    border-radius: 50%;
    background-size: cover !important;
  }

  // content
  .testimonial-content{
    p{
      @extend h6;
    }
  }

  h3{
    color: $black;
  }

  a{
    font: rem(16px) $franklin-cond;
    font-weight: $demi;
    text-transform: uppercase;
    color: $black;
  }

  .slick-next, .slick-prev{
    width: 33px;
    height: 62px;
  }

  .slick-prev:before{
    content: url(../img/arrow-left.png);
  }

  .slick-next:before{
    content: url(../img/arrow-right.png);
  }

}

// Dark Grey Backgrounds
.drkGrey{
  .testimonial-content{
    p{
      color: $white;
    }

    h3{
      color: $blue;
    }

    a{
      color: $white;
    }

  }

}

// Red Backgrounds
.red{
  .testimonial-content{
    p{
      color: $white !important;
    }

    h3{
      color: $white !important;
    }

    a{
      color: $white !important;
    }

  }

}

// Yellow Backgrounds
.yellow{
  .testimonial-content{
    p{
      color: $black !important;
    }

    h3{
      color: $black !important;
    }

    a{
      color: $black !important;
    }

  }

}

@media screen and (max-width: 1110px){
  .testimonials--container{

    // testimonial image
    .testimonial-image{
      width: rem(190px);
      height: rem(190px);
    }

  }

}

@media screen and (max-width: 936px){
  .testimonials--container{

    // testimonial image
    .testimonial-image{
      width: rem(140px);
      height: rem(140px);
    }

  }

}

@media screen and (max-width: $small-breakpoint){
  .testimonials--container{
    .testimonial-image{
      width: rem(240px);
      height: rem(240px);
      margin-bottom: rem(20px);
    }
    button{
      display: none !important;
    }
  }
}
