/*------------------------------------------------------------------------------
  Global Styles
------------------------------------------------------------------------------*/
/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

html,
body {
  border      : 0;
  margin      : 0;
  padding     : 0;
  width       : 100%;
  min-height  : 100%;
}

html,
html a {
  -webkit-font-smoothing : antialiased !important;
  text-shadow            : 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  font                       : 100%/1.25 $franklin;
  min-height                 : 100%;
  overflow-y                 : scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling : touch;
}

// Hide empty paragraphs
p:empty{
  display: none !important;
}

// Tables
table {
  margin  : 0 0 18px;
}

/* keep images from spilling out of columns */
img{
  max-width: 100%;
  height: auto;
}

// Flex Video Based on Zurb's Foundation Framework
.flex-video {
  position: relative;
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
  overflow: hidden;
  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Styleguide Styles
.sg{
  margin-top: 20px;
}
.sg-container{
  @extend .container;
  // make it visible
  h4{background: black}
}

.sg-block{
  @extend .row;
  border-bottom: 2px solid black;
}

.sg-text{
  @extend .col-4;
}

.sg-example{
  @extend .col-8;
}

.sg-code{
  display: none;
}

.sg-section-forms{
  div{
    margin: 5px auto 10px;
  }
}

// Visibility Classes
.sm-only{
  display: none !important;
}

::selection{
  background: $blue;
  color: $white;
}

// SVG Line Class
.slant{
  width: rem(60px);
}

// Color Classes
.white{
  color: $white;
}

// Post Meta Deta
.post-data{
  font: rem(20px) $franklin-comp;
  font-weight: $demi;
  text-transform: uppercase;
}

@media screen and (max-width: $small-breakpoint){
  .sm-only{
    display: flex !important;
  }
  .sm-hide{
    display: none;
  }
}
